@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    --border-radius: 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--text-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--card-background-color) inset;
}

/* ------- Theme select styles ------- */

.theme-block {
    position: absolute;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.theme-block:hover {
    top: 0;
}
.theme-block .theme-activate {
    width: 30px;
    height: 30px;
    background: var(--arrow-down-icon-url) no-repeat;
    background-position: center;
    background-size: 30px 30px;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.theme-block:hover .theme-activate {
    visibility: hidden;
    opacity: 0;
}
.theme-switch-container {
    font-family: "Noto Sans Display", sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.theme-switch-container .theme-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: var(--text-color);
    border: 1px solid #c5c0c0;
    border-radius: var(--border-radius);
    margin: 8px 0;
    padding: 8px 12px;
    cursor: pointer;
}
.theme-switch-container .theme-option:hover {
    background-color: var(--accent-color);
}
.theme-switch-container .theme-option.active {
    background-color: var(--card-background-color);
}
.theme-switch-container .theme-option.active .accent-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

/* ------- Wrapping card ------- */

.custom-select {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.wrapper {
    height: 535px;
    width: 450px;
    margin-top: 60px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000px;
}
.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--card-background-color);
    box-shadow: var(--box-shadow);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 1.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.wrapper[data-active-form-type="sign-in"] .sign-up {
    transform: rotateY(-180deg);
}
.wrapper .sign-in {
    transform: rotateY(180deg);
}
.wrapper[data-active-form-type="sign-in"] .sign-in {
    transform: rotateY(0deg);
}

/* ------- Floating card content ------- */

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 40px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 40px) perspective(100px);
}

/* ------- Common form styles ------- */

.form {
    font-family: "Sarabun", sans-serif;
    width: 100%;
}
.form-title {
    font-family: "Noto Sans Display", sans-serif;
    text-align: center;
    color: var(--form-title-color);
    margin: 10px auto 20px;
}
.input-wrap {
    margin: 25px 0;
    position: relative;
}
.input-wrap > input {
    font-size: 16px;
    color: var(--text-color);
    width: 100%;
    padding: 16px;
    border: 1px solid #c5c0c0;
    border-radius: var(--border-radius);
    background-color: var(--card-background-color);
}
.input-wrap > input:autofill {
    background-color: #FFF;
}
.input-wrap > input::placeholder {
    color: #fff;
}
.input-wrap > .input-label {
    pointer-events: none;
    font-size: 16px;
    color: grey;
    position: absolute;
    top: 15px;
    left: 16px;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-wrap > input:focus + .input-label {
    color: var(--accent-color);
}
.input-wrap > input:focus + .input-label,
.input-wrap > input:not(:placeholder-shown) + .input-label {
    font-size: 13px;
    top: -9px;
    left: 10px;
    padding: 0 5px;
    background-color: var(--card-background-color);
}
.input-wrap > input:focus {
    outline: 1px solid var(--accent-color);
    border-color: var(--accent-color);
}
.input-wrap > input.invalid {
    border: 1px solid red;
}
.input-wrap > input.invalid:focus {
    outline: none;
    caret-color: red;
}
.input-wrap > input.invalid + .input-label {
    color: red;
}
.alert-message {
    position: absolute;
    bottom: -14px;
}
.input-wrap > input ~ .alert-message { 
    display: none;
    font-size: 10px;
    color: red;
    margin-top: 5px;
}
.input-wrap > input.invalid ~ .alert-message {
    display: block;
}
.show-pass-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    background: var(--show-pass-icon-url) no-repeat;
    background-position: center;
    background-size: 20px 20px;
    cursor: pointer;
}
.show-pass-btn.active {
    background-image: var(--hide-pass-icon-url);
}
.primary-btn {
    font-family: "Noto Sans Display", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 16px;
    height: 56px;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-btn-color);
    cursor: pointer;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.primary-btn:hover {
    background-color: var(--btn-hover-color);
}
.footer {
    font-family: "Sarabun", sans-serif;
    text-align: center;
    color: var(--text-color);
    margin: 15px auto;
}
.footer-link {
    color: var(--accent-color);
    cursor: pointer;
}
.footer-link:hover {
    text-decoration: underline;
}

/* ------- Signup form styles ------- */

.input-group {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-group .input-wrap {
    margin: 0;
}
.generate-pass-btn {
    width: 20px;
    height: 20px;
    background: var(--safe-pass-icon-url) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}

/* ------- Signin form styles ------- */

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondary-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.secondary-wrap > a {
    color: var(--accent-color);
    text-decoration: none;
}
.secondary-wrap > a:hover {
    text-decoration: underline;
}
.checkbox-wrap > label {
    color: var(--text-color);
}
.checkbox-wrap > input {
    accent-color: var(--checkbox-color);
}
.checkbox-wrap > label, input {
    cursor: pointer;
}
footer {
    font-family: "Sarabun", sans-serif;
    color: var(--text-color);
    margin: 6rem auto 2rem;
}
footer a {
    color: var(--accent-color);
}

@media (max-width: 480px) {
    .wrapper {
        width: 100%;
        min-width: 320px;
    }
    .wrapper .card {
        border-radius: 0;
    }
}
@media (max-width: 410px) {
    .center-wrap {
        padding: 0 20px;
    }
}
@media (max-width: 360px) {
    .center-wrap {
        padding: 0 20px;
    }
}