@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --accent-color: #399FCD;
    --secondary-color: #CAC9D8;
    --border-radius: 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

/* ------- Wrapping card ------- */

.custom-select {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.wrapper {
    height: 535px;
    width: 450px;
    margin-top: 60px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 1.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.wrapper[data-active-form-type="sign-in"] .sign-up {
    transform: rotateY(-180deg);
}
.wrapper .sign-in {
    transform: rotateY(180deg);
}
.wrapper[data-active-form-type="sign-in"] .sign-in {
    transform: rotateY(0deg);
}

/* ------- Floating card content ------- */

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 40px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 40px) perspective(100px);
}

/* ------- Common form styles ------- */

.form {
    font-family: "Sarabun", sans-serif;
    width: 100%;
}
.form-title {
    font-family: "Noto Sans Display", sans-serif;
    text-align: center;
    margin: 10px auto 20px;
}
.input-wrap {
    margin: 25px 0;
    position: relative;
}
.input-wrap > input {
    font-size: 16px;
    width: 100%;
    padding: 16px;
    border: 1px solid #c5c0c0;
    border-radius: var(--border-radius);
}
.input-wrap > input:autofill {
    background-color: #FFF;
}
.input-wrap > input::placeholder {
    color: #fff;
}
.input-wrap > .input-label {
    pointer-events: none;
    font-size: 16px;
    color: grey;
    position: absolute;
    top: 15px;
    left: 16px;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-wrap > input:focus + .input-label {
    color: var(--accent-color);
}
.input-wrap > input:focus + .input-label,
.input-wrap > input:not(:placeholder-shown) + .input-label {
    font-size: 13px;
    top: -9px;
    left: 10px;
    padding: 0 5px;
    background-color: #fff;
}
.input-wrap > input:focus {
    outline: 1px solid var(--accent-color);
    border-color: var(--accent-color);
}
.input-wrap > input.invalid {
    border: 1px solid red;
}
.input-wrap > input.invalid:focus {
    outline: none;
    caret-color: red;
}
.input-wrap > input.invalid + .input-label {
    color: red;
}
.alert-message {
    position: absolute;
    bottom: -14px;
}
.input-wrap > input ~ .alert-message { 
    display: none;
    font-size: 10px;
    color: red;
    margin-top: 5px;
}
.input-wrap > input.invalid ~ .alert-message {
    display: block;
}
.show-pass-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 15px;
    background: url(./assets/icons8-show-64.png) no-repeat;
    background-position: center;
    background-size: 25px 25px;
    cursor: pointer;
}
.show-pass-btn.active {
    background-image: url(./assets/icons8-hide-64.png);
}
.primary-btn {
    font-family: "Noto Sans Display", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 16px;
    height: 56px;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.primary-btn:hover {
    background-color: #355982;
}
.footer {
    font-family: "Sarabun", sans-serif;
    text-align: center;
    margin: 15px auto;
}
.footer-link {
    color: var(--accent-color);
    cursor: pointer;
}
.footer-link:hover {
    text-decoration: underline;
}

/* ------- Signup form styles ------- */

.input-group {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-group .input-wrap {
    margin: 0;
}

/* ------- Signin form styles ------- */

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondary-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.secondary-wrap > a {
    color: var(--accent-color);
    text-decoration: none;
}
.secondary-wrap > a:hover {
    text-decoration: underline;
}
.checkbox-wrap > input, label {
    cursor: pointer;
}